.outerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  background-color: #9ACFDD;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    height: 600px;
    max-width: 600px;
    border: solid black 10px;
    overflow: hidden;
  }

  header {
    width: 100%;
    text-align: center;
    background-color: #FAF566;
    color: #222;
    font-size: 4rem;
    box-shadow: #D90B1C 0 .2em 0 0;
    border-radius: 0 0 25px 25px;
  }

  main {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;


    form {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      button {
        background-color: #202731;
        font-weight: bold;
        color: #FFF;
        border-radius: 25px;
        border: none;
        font-size: 2rem;
        padding: 8px;
        transition: box-shadow 250ms ease;
        outline: none;
        cursor: pointer;

        &:hover, &:active, &:focus {
          box-shadow: #D90B1C 0 0 0 .2em;
        }
      }

      div {
        height: auto;
        display: flex;
        justify-content: space-between;

        a {
          font-size: 1.2em;
          transition: transform 250ms ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}


